html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #201b2d;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

.button {
	padding: 20px 25px;
	color: #2e2a1b;
	background-color: #ffd429;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 15px;
	line-height: 25px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
}
.button:hover {
	background-color: #f5c242;
}
.button:active {
	background-color: #e4b601;
}

.main-title {
	font-size: 30px;
	line-height: 25px;
}

.header {
	padding-top: 65px;
	height: 100vh;
	background: rgb(75,186,251);
	background: -moz-linear-gradient(90deg, rgba(75,186,251,1) 0%, rgba(58,149,221,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(75,186,251,1) 0%, rgba(58,149,221,1) 100%);
	background: linear-gradient(90deg, rgba(75,186,251,1) 0%, rgba(58,149,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4bbafb",endColorstr="#3a95dd",GradientType=1);
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
}

.header__offer {
	margin: auto;
	max-width: 580px;
	color: #fff;
}

.header__title {
	font-size: 37px;
	line-height: 49px;
}

.header__title-span {
	display: block;
	font-size: 59px;
	line-height: 73px;
}

.header__text {
	max-width: 405px;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 55px;
}
.main {
	text-align: center;;
}

.feature {
	padding: 105px 0 115px;
}

.feature__title {
	margin-bottom: 70px;
}

.feature__wrapper {
	display: flex;
	justify-content: space-between;
}

.feature__item {
	width: 315px;
}
.feature__item-icon {
	width: auto;
	height: 60px;
	object-fit: cover;
	margin-bottom: 20px;
}

.feature__item-title {
	font-size: 19px;
	line-height: 25px;
}

.feature__item-text {
	font-size: 15px;
	line-height: 22px;
}

.contacts {
	padding: 100px 0;
	background-color: #ecf3f8;
}
.contacts__title {
	margin-bottom: 60px;
}
.contacts__form {
	max-width: 345px;
	margin: 0 auto;
}

.contacts__form-wrapper {
	border: none;
}
.contacts__form-title {
	font-size: 0;
}
.contacts__form-input {
	width: 100%;
	margin-bottom: 15px;
	opacity: 0.55;
	padding: 15px 20px;
}

.contacts__form-btn {
	width: 100%;
}

.footer {
	padding: 60px 0;
	background-color: #164d7a;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}
.footer__copy {
	padding: 0;
	margin: 0;
}